body {
  font-family: "Roboto", "Relaway", sans-serif;
  color: #212121;
}

img {
  display: block;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-portfolio:active,
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-index {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button-index:active,
.button-index:hover,
.button-index:focus {
  cursor: pointer;
}

.navigation:active,
.navigation:hover,
.contact-footer:hover,
.contact-footer:active,
.contact:active,
.contact:hover,
.navigation:focus,
.contact:focus,
.contact-footer:focus {
  color: #2196f3;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.section-four {
  background: #f5f4fa;
}

.ul-style {
  list-style: none;
}

.description-portfolio {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.heading-portfolio {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.heading-index {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.img-position {
  align-items: center;
}

.description-index {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
}
.color-logo-blue {
  color: #2196f3;
}
.color-logo-white {
  color: #ffffff;
}
.contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.address {
  font-style: normal;
}
.p-address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}
.footer-page {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background-color: #2f303a;
}
.H1-style {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.H3-style {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.p-style {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.first-section-style {
  background: #2f303a;
}
